<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="QuickTraderChatEndpoint"
					  adress="net.p2p://QuickReturnTraderChat"
					  binding="netPeerTcpBinding"
					  bindingConfiguration="BindingUncsecure"
					  contract="ChatEjemplo.IQuickReturnTraderChat"/>
		</client>
		<sevices>
			<service name="ChatEjemplo.ChatForm">
				<endpoint name="QuickTraderChat"
					adress=""
					binding="netPeerTcpBinding"
					bindingConfiguration="BindingUnsecure"
					contract="ChatEjemplo.IQuickReturnTraderChat"/>
				<host>
					<baseAdresses>
						<add baseAdress="net.p2p://QuickReturnTraderChat"/>
					</baseAdresses>
				</host>
			</service>
		</sevices>
		<bindings>
			<netPeerTcpBinding>
				<binding name="BindingUnsecure">
					<security mode="None"/>
					<resolver mode="Pnrp"/>
				</binding>
			</netPeerTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>